.field--type-text-with-summary .text-format-wrapper {
  display: none;
}

[data-drupal-selector="edit-field-contact-0-inline-entity-form-field-type"] .form-radios {
  display: flex;
  gap: 20px;
  align-items: start;
}

[data-drupal-selector="edit-field-contact-0-inline-entity-form-field-type"] .form-radios .uk-margin {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.ui-menu .ui-menu-item-wrapper {
  display: block;
}