/*
 * @file
 * Provides the layout styles for layout_threecol_25_50_25.
 */

.column-2 {
    width:50%;
}
.column-3 {
    width:33.333%;
}
.row {
    width:100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.layout fieldset {
    border: 0;
}

.layout--onecol .layout__region {
  width: 100%;
}

.layout--threecol-25-50-25 {
  display: flex;
  flex-wrap: wrap;
}

.layout--threecol-25-50-25 > .layout__region,
.layout--threecol-25-50-25 > .layout__region--second {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--threecol-25-50-25 > .layout__region--first,
  .layout--threecol-25-50-25 > .layout__region--third {
    flex: 0 1 25%;
  }
  .layout--threecol-25-50-25 > .layout__region--second {
    flex: 0 1 50%;
  }
}


.layout--threecol-33-34-33 {
  display: flex;
  flex-wrap: wrap;
}

.layout--threecol-33-34-33 > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--threecol-33-34-33 > .layout__region--first,
  .layout--threecol-33-34-33 > .layout__region--third {
    flex: 0 1 33%;
  }
  .layout--threecol-33-34-33 > .layout__region--second {
    flex: 0 1 34%;
  }
}

.layout--twocol {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--twocol > .layout__region--first,
  .layout--twocol > .layout__region--second {
    flex: 0 1 50%;
  }
}

.layout--twocol-bricks {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-bricks > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--twocol-bricks > .layout__region--first-above,
  .layout--twocol-bricks > .layout__region--second-above,
  .layout--twocol-bricks > .layout__region--first-below,
  .layout--twocol-bricks > .layout__region--second-below {
    flex: 0 1 50%;
  }
}
