{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="uk-section">
  <div class="uk-container uk-container-small">
    <form{{ attributes.addClass('uk-card', 'uk-card-default', 'uk-card-body', 'uk-form-stacked') }}>
      <h1 class="uk-h1">Заявка</h1>
      {{ children }}
    </form>
  </div>
</div>
